# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# === Entornos virtuales ===
venv/
env/
tfm_env/
.mosaik/
.eggs/
*.egg-info/

# === Datos y simulaciones ===
*.nc
*.h5
*.zip
*.tar
*.gz
results/
figures/
output/
logs/
pyinstrument_report.html
cache/

# === IDE y sistema ===
.vscode/
.idea/
.DS_Store
*.log
pyinstrument_report.html
